<div class="info-window">
  <div class="popup-photo">
    <% if villa.photo.attached? %>
      <%= cl_image_tag villa.photo.key, width: 100, height: 100, class:"villa-pic" %>
    <% end %>
  </div>
  <div class="popup-show-info">
      <h5><%= link_to villa.name, villa_path(villa) %></h5>
      <p><%= link_to villa.address, villa_path(villa) %></p>
  </div>
</div>
