$white:  rgb(255, 255, 255);
$transparent:  rgba(255, 255, 255, 0);

$grey0:  rgb(240, 240, 240);
$grey1:  rgb(204, 204, 204);
$grey2:  rgb(153, 153, 153);
$grey3:  rgb(95, 95, 95);
$grey4:  rgb(102, 102, 102);
$grey5: rgb(51, 51, 51);

$black: rgb(0, 0, 0);

$cinedarkblue1: rgb(16, 25, 50);
$cinedarkblue2: rgb(1, 8, 25);
$cinepink: rgb(209, 41, 124);
$cinedarkpink: rgb(111, 7, 81);
$cineviolet: rgb(145, 63, 231);
$cineblue: rgb(102, 214, 226);



// bootstrap colors - do not remove
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
