// Specific CSS for your home-page
.full-screen-container {
  display: flex;
}

.map-box-all-villas {
  margin-top: 276px !important;
  height: 65vh;
  position: sticky;
  top: 75px;
  margin: 50px;
  border-radius: 20px;
  box-shadow: 3px 5px 10px rgba($color: $black, $alpha: 0.7);
}

.all-villas {
  padding-left: 40px;
}

.mapboxgl-marker path {
  fill: $cinepink;
}

.position {
  position: relative;
  top: -45px;
}
