h1, h2, h3, h4, h5, p, label, a {
  color: $grey5;
}
// by default all text are dark grey (nicer for the eyes than black)

.top-title {
  margin-top: 40px;
  margin-bottom: 20px;
}
// I made this to use on evry view to make space between the navbar and the title of the page
