.my-btn {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 100px;
  border: solid 1px $cineblue;
}

.my-btn.prim {
  background-color: $cineblue;
  color: $white;
  font-weight: 700;
}

.my-btn.sec {
  // background-color: $grey0;
  color: $cineblue;
  font-weight: 700;
  margin-bottom: 20px; // this margin is needed for the sign in forms, to make space before the links
}

.my-btn i {
  margin-left: 10px;
}
