.my-btn {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 100px;
  border: solid 1px $dark-grey;
}

.my-btn.prim {
  background-color: $dark-grey;
  color: white;
  font-weight: 700;
}

.my-btn.sec {
  background-color: $light-grey;
  color: rgb(95, 95, 95);
  font-weight: 700;
  margin-bottom: 20px; // this margin is needed for the sign in forms, to make space before the links
}

.my-btn i {
  margin-left: 10px;
}
