.card-link {
  text-decoration: none;
}

.villa-card {
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: $cinedarkblue2;
  height: 420px;
  position: relative;
  // box-shadow: 3px 5px 10px rgba($color: $black, $alpha: 0.7);
}

.my-villa-card {
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: $cinedarkblue2;
  height: 464px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // box-shadow: 3px 5px 10px rgba($color: $black, $alpha: 0.7);
}
// need to refactor because above 2 are almsot the same!

.villa-card:hover {
  border: 1px rgba($color: $white, $alpha: 0.7);
  box-shadow: 0 0 10px rgba($color: $white, $alpha: 0.5);
}

.villa-card .villa-pic {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.my-villa-card .villa-pic {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
// need to refactor because above 2 are almsot the same!

.general-info {
  padding: 20px;
  flex-grow: 1;
}

.guest-price {
  display: flex;
  align-items: center;
}

.guest-price i {
  margin-right: 5px;
}

.guest-price p {
  margin-right: 20px;
  margin-bottom: 0;
}

.action-buttons {
  padding: 10px;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.action-buttons a {
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(50, 50, 50);
}

.new-villa {
  height: 440px;
  background-color: $cinetransparentlight;
  border: 1px solid $grey1;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  h4 {
    font-size: 64px;
  }
}

.new-villa:hover {
  background-color: $cinetransparentpink;
}

// this may cause conflicts as I added the below in 2 different routes
.tags {
  display: flex;
  position: absolute;
  top: 7px;
  right: 9px;

}

.movie {
  background-color: $grey1;
  color: $cinedarkblue2;
  border-radius: 100px;
  padding: 0px 8px;
  margin-right: 10px;
}

.genre {
  background-color: $white;
  color: $cinedarkblue2;
  border-radius: 100px;
  padding: 0px 8px;
}
