.villa-card {
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: $cinedarkblue2;
  box-shadow: 3px 5px 10px rgba($color: $black, $alpha: 0.7);
}

.villa-card:hover {
  border: 1px rgba($color: $white, $alpha: 0.7);
  box-shadow: 0 0 10px rgba($color: $white, $alpha: 0.5);
}

.villa-card .villa-pic {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.general-info {
  padding: 20px;
}

.guest-price {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.guest-price i {
  margin-right: 5px;
}

.guest-price p {
  margin-right: 20px;
  margin-bottom: 0;
}

.action-buttons {
  padding: 10px;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.action-buttons a {
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(50, 50, 50);
}

.new-villa {
  height: 500px;
  background-color: $cinetransparentlight;
  border: 1px solid $grey1;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  h4 {
    font-size: 64px;
  }
}

.new-villa:hover {
  background-color: $cinetransparentpink;
}
