.form-control {
  border-radius: 20px;
}

.form-select {
  border-radius: 20px;
}

.my-form {
  background-color: $cinetransparentdark;
  border: 1px solid $grey3;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}
// we may want to apply to to all forms and not just booking

.my-form a {
  position: absolute;
  bottom: -65px;
}
